@font-face {
  font-family: 'Essence';
  src: url('fonts/ar-essence.ttf') format('ttf');
}


html, body {
    width: 100%;
    height: 100%;
}

body {
	background: url(../images/bg-img.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
}

body > #wrapper {
	height: auto; 
	min-height: 100%;
}

#wrapper {
	height: 100%;
}


/*---------------------------------------------*/
/*------------------ HEADER -------------------*/
/*---------------------------------------------*/

#header {
	height: 90px;
}

.logo a {
	text-decoration: none;
}

.logo img {
    width: 200px;
}

.logo span {
	color: #fff;
	font-size: 25px;
    margin-left: -20px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 1px 3px #000;
}

nav.links {
	/*float: right;*/
	padding-top: 20px;
	text-align: center;
}

.links ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

.links ul li {
	display: inline-block;
}

.links ul li a {
	margin-right: 5px;
	text-decoration: none;
	text-shadow: 1px 1px 3px #000;
	border-radius: 3px;
	font-family: 'Exo 2', sans-serif;
}

a.menu-btn {
	background-color: rgba(222, 222, 222, 0.25);
	padding: 10px 12px;
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	transition: all 0.3s ease 0s;
}

a.menu-btn:hover, a.link_button:active {
    background-color: rgba(222, 222, 222, 0.85);
	color: #fff;
	font-weight: 500;
	/*letter-spacing: 1px;*/
}

a.menu-btn:visited {
	outline: none; 
	color: #fff; 
	text-decoration: none; 
}


/*---------------------------------------------*/
/*------------------ CONTENT -------------------*/
/*---------------------------------------------*/


main {
	padding-bottom: 60px
}

.title {
	padding-top: 30px;
}

.title h3 {
	text-align: center;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 1px 1px 3px #000;
	margin-bottom: 5px;
}

.icons {
    text-align: center;
    color: #fff;
}

.icons i {
    margin-right: 3px;
    font-size: 14px;
}

.image-slider {
	width: 649px;
	margin: 40px auto 0;
}

.slider-wrapper {
	z-index: 500;
	position: relative;
	padding: 0px;
	width: 100%;
	height: 434px;
	border: 1px solid #d3d3d3;
	border-radius: 15px;
	overflow: hidden;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}

.slider-wrapper img {
	position: absolute;
	max-width: 100%;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0.85
}

.slider-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	padding: 10px;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.slider-wrapper h2 {
	color: #d3d3d3;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Exo 2', sans-serif;
}

.slider-wrapper p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4em;
	font-family: 'Exo 2', sans-serif;
}

.control-buttons {
	text-align: center;
}

.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #8b8b8b;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 0 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.control-buttons li.active {
	background: #d3d3d3;
}



 @media only screen and (max-width: 825px) {
 	.image-slider {
 		width: 500px;
 	}

 	.slider-wrapper {
 		height: 260px;
 	}
 }

 @media only screen and (max-width: 535px) {
 	.image-slider {
 		padding: 5px;
 		width: 100%;
 		margin: 30px 0 0 0;
 	}

 	.slider-wrapper {
 		height: 200px;
 	}
	
 	.slider-wrapper .caption {
 		display: none;
 	}

 }
 

/*---------------------------------------------*/
/*------------------ FOOTER -------------------*/
/*---------------------------------------------*/


#footer {
    position: relative;
	margin-top: -60px;
	height: 60px;
	clear:both;
}

.author {
    /*float: left;*/
	color: #bdbdbd;
	padding-top: 5px;
	text-align: center;
}

.author a {
	vertical-align: center;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

.author a:hover {
	text-decoration: none;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

.socials {
	text-align: center;
}

.socials ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

.socials ul li {
	display: inline-block;
}

.fa-soc {
    font-size: 27px;
}

.socials ul li a span {
	margin-top: 5px;
	text-decoration: none;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

.socials ul li a:hover {
	text-decoration: none;
}

.socials ul li a i {
	margin-right: 5px;
}

.socials i:nth-child(1) {
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.socials a i:nth-child(1):hover {
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
}

.socials a i:nth-child(2) {
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.socials a i:nth-child(2):hover {
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
}


