@media screen and (max-width:479px) {
/*@media only screen and (max-width: 410px) {}*/
	
	/*------------------ GENERAL -------------------*/
	
	.logo {
    	text-align: center;
    }
	
	.logo img {
        width: 150px;
    }
    
    .logo span {
        font-size: 20px;
    }
	
	a.menu-btn {
        padding: 8px 6px;
	}
	
	.links ul li a {
        margin-right: 0px;
        font-size: 8px;
    }
    
    .title h3 {
        font-size: 16px;
    }
    
    .icons i {
        font-size: 10px;
    }
    
    .author {
        font-size: 10px;
        padding-bottom: 8px;
    }
    
    .fa-soc {
        font-size: 18px;
    }
	
	
	/*------------------ INDEX -------------------*/
	.slider-wrapper {
 		height: 205px;
 	}
 	.slider-wrapper img {
 		height: 100%;
 		width: 100%;
 	}
	
	/*------------------ SERVICE -------------------*/
	.title {
        padding-top: 30px;
    }
    
	article {
        font-size: 12px;
        padding-top: 0;
    }
    
    .article-text {
        padding-top: 20px;
    }
    
    .article-text p {
         padding-bottom: 0; 
    }
    
    .img-right {
        padding-top: 5px;
        /*width: 240px;*/
        position: relative;
    }

    .img-right img {
        width: 60px;
        float: right;
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(1,1,1,.5);
        opacity: 0.85;
    }
    
    .img-right > div:hover > img {
        transform: scale(1.7,1.7);
    }
    
    /*------------------ SERVICE -------------------*/
    .gallery-carousel {
        display: none;
    }
    
    article ul li:before {
        top: 10px;
    }
	
}